In [ ]:
student1 = "Nathan MÃ¼ller"
student2 = "Adrien Bertaud"